body{
    box-shadow: 0 4px 7px 0 rgba(0,0,0,0.5);
    position: relative;
    left: 10%;
    right: 10%;
    margin:top;
    text-align:center;
    font-family:none;

}
.head-one{
    text-align: center;
    color: rgb(255, 255, 255);
    position:absolute;
    top: 48%;
    width: 60%;
    font-size: 3rem;
}
.mouse{
    position:absolute; 
   
    top: 75%;
    left: 50%;
 
}
.logo{
    position:absolute; 
    top: 35%;
    left: 50%  
}
.desc{
    text-align: center;
    color: rgb(255, 255, 255);
    position:absolute;
    top: 65%;
    width: 100%; 
}
.banner{
    position: relative;
     left: 10%;
     right: 30%;
    margin: 0 auto;
}
 .banner img{
    

 }
/* .services{
    background-image: url("../images/s_image.jpg");
    
    background-repeat: no-repeat;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;  
} */
.card-img{
    text-align: center;
    display: flex;
justify-content: space-around;
}