body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.head-one{
    text-align: center;
    color: rgb(255, 255, 255);
    position:absolute;
    top:50%;
    width: 60%;
    left: 25%;
    font-size: 3rem;
}
.mouse{
    position:absolute; 
   
    top: 88%;
    left: 50%;
 
}
.logo{
    position:absolute; 
    top: 28%;
    left: 48%  
}
.desc{
    text-align: center;
    color: rgb(255, 255, 255);
    position:absolute;
    top: 78%;
    width: 100%; 
}
.banner{
    position: relative;
     
   
}
.banner .hd-img{
    width: 100%;
}
 
  
 .banner .service-img{
width: 100%;
}
.head-two{
    text-align: center;
    font-size: 3rem;
}
.head-three{
    text-align: center;
    color: rgb(255, 255, 255);
    position:absolute;
    top: 23%;
  width:  100%;
    font-size: 3rem;
}
.service-desc{
    text-align: center;
    color: rgb(255, 255, 255);
    position:absolute;
    top: 55%;
    width: 100%;
}
  


.card-img{
    text-align: center;
    display: flex;
justify-content: space-around;
}
.head-4{
    text-align: center;
    padding-left: 50px;

}
.head-four{
    text-align: center; 
}
 .contacts{
     align-items: center;
    position: relative;
     
    margin: 0 auto; 
} 
 .head-5{
    text-align: center;
    color: rgb(255, 255, 255);
    position:absolute;
    top: 10%;
    left: 40%;
    font-size: 3rem;  
} 

 .txt{
   
    color: rgb(250, 250, 250);
    position:absolute;
    top: 33%;
    left: 15%;
    right: 60%;;
    width: 100%; 
    background-color: rgba(0, 0, 0, 0)  
}
.e-mail{
    
    color: rgb(250, 250, 250);
    position:absolute;
    top: 33%;
    left: 50%;
    width: 100%; 
    background-color: rgba(0, 0, 0, 0)  
}
input[type=text],input[type=email]{
    width: 30%;
    color: white;

}
input[type=]{
    text-align: center;
    width: 40%;
}
.msg{
    
    color: rgb(250, 250, 250);
    position:absolute;
    top: 42%;
     
    background-color: rgba(0, 0, 0, 0)  
    
}
textarea{
position: relative;
left: 15%;
right: 5%;
width: 65%;
}
.contact .cont-img{
    width: 100%;
}